.root {
  width:50%
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height:100%;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
